<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Personal Info</title>
</head>
<body>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
            Personal Info
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
         data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Your email is {{ userInfo.0 }}
            <br>
            Your info is {{ userInfo.1 }} and {{ userInfo.2 }}
        </div>
    </div>
</div>


<br>
Your trackable:

<a href="{% url 'myapp:inserttrackable' %}">Insert</a>

<table class="table table-striped">
    <thread>
        <tr>
            <th scope="col">#</th>
            <th scope="col">checkin date</th>
            <th scope="col">tag</th>
            <th scope="col">condition</th>
            <th scope="col">weather</th>
            <th scope="col">symptom</th>
            <th scope="col">treatment</th>
            <th scope="col">action</th>
        </tr>
    </thread>

    <tbody>

    {% for record in trackableInfo %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ record.0 }}</td>
            <td>{{ record.1 }}</td>
            <td>{{ record.2 }}</td>
            <td>{{ record.3 }}</td>
            <td>{{ record.4 }}</td>
            <td>{{ record.5 }}</td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="delete" value="record">
                    <input type="hidden" name="trackable_id" value="{{ record.6 }}">
                    <input type="hidden" name="user_id" value="{{ record.7 }}">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
                <a href="{% url 'myapp:updateRecord' record.6 %}" class="btn btn-primary">Update</a>
            </td>
        </tr>
        <tr>
    {% endfor %}

    </tbody>
</table>

<br>
Your symptoms are:
<table class="table table-striped">
    <thread>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Symptom</th>
        </tr>
    </thread>

    <tbody>

    {% for symptom in symptoms %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ symptom.0 }}</td>
        <tr>
    {% endfor %}

    </tbody>
</table>


<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="delete" value="user">
    <input type="submit" value="delete userinfo">
</form>

<a href="{% url 'myapp:updateUser' %}">Edit my information</a>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
-->
</body>
</html>