<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jquery -->
    <script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
    <!-- bootstrap -->
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- bootstrap-select -->
{#    <link rel="stylesheet"#}
{#          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">#}
    <link rel="stylesheet" href="bootstrap-select-1.14.0-beta3/sass/bootstrap-select.scss">
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>#}
    <script src="bootstrap-select-1.14.0-beta3/js/bootstrap-select.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <title>Square</title>
</head>
<body>

This is public square

<form action="" method="POST">
    {% csrf_token %}
    <label class="form-label">Symptoms</label>
    <select class="selectpicker show-tick form-control" data-live-search="true" name="selected_symptom">
        {% for symptom in symptoms %}
            <option value="{{ symptom }}">{{ symptom }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

Patients of: {{ selected_symptom }}
<table class="table table-striped">
    <thread>
        <tr>
            <th scope="col">#</th>
            <th scope="col">username</th>
            <th scope="col">age</th>
            <th scope="col">gender</th>
            <th scope="col">country</th>
            <th scope="col">email</th>
            <th scope="col">phone</th>
            <th scope="col">treatment</th>
            <th scope="col">detail</th>
        </tr>
    </thread>

    <tbody>

    {% for patient in patients %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ patient.0 }}</td>
            <td>{{ patient.1 }}</td>
            <td>{{ patient.2 }}</td>
            <td>{{ patient.3 }}</td>
            <td>{{ patient.4 }}</td>
            <td>{{ patient.5 }}</td>
            <td>{{ patient.6 }}</td>
            <td>{{ patient.7 }}</td>
        <tr>
    {% endfor %}

    </tbody>
</table>

<br>

Age distribution of patients of: {{ selected_symptom }}

{{ patient_number|json_script:"patientNumber" }}
{{ age_range|json_script:"ageRange" }}
<div id="main" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 创建数据数组
    var data = [];
    var patient_number = JSON.parse(document.getElementById('patientNumber').textContent);
    var age_range = JSON.parse(document.getElementById('ageRange').textContent);
    for (var i = 0; i < patient_number.length; i++) {
        data.push({
            value: patient_number[i],
            name: age_range[i] + ':' + patient_number[i]
        });
    }

    // 指定图表的配置项和数据
    var option = {
        series: [
            {
                type: 'pie',
                data: data
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

</body>
</html>