<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Update Trackable</title>
</head>
<body>
    <h1>Update Trackable</h1>

    <form action="" method="POST">
        {% csrf_token %}

        <!-- Check-in Date -->
        <label for="checkinDate">Check-in Date:</label>
        <input type="date" id="checkinDate" name="checkinDate" value = "{{ trackableInfo.6 }}" required><br>

        <!-- Tag -->
        <label for="tag">Tag:</label>
        <input type="text" id="tag" name="tag" value = "{{ trackableInfo.7 }}"><br>

        <!-- Condition -->
        <label for="condition">Condition_name:</label>
        <input type="text" id="condition" name="condition" value = "{{ trackableInfo.8 }}"><br>

        <label class="form-label">Condition_value</label>
        <select class="selectpicker show-tick form-control" data-live-search="true" name="condition_val">
        <option {% if trackableInfo.9 == 0 %}selected{% endif %}>0</option>
        <option {% if trackableInfo.9 == 1 %}selected{% endif %}>1</option>
        <option {% if trackableInfo.9 == 2 %}selected{% endif %}>2</option>
        <option {% if trackableInfo.9 == 3 %}selected{% endif %}>3</option>
        <option {% if trackableInfo.9 == 4 %}selected{% endif %}>4</option>
        <option {% if trackableInfo.9 == 5 %}selected{% endif %}>5</option>
        <option {% if trackableInfo.9 == 6 %}selected{% endif %}>6</option>
        <option {% if trackableInfo.9 == 7 %}selected{% endif %}>7</option>
        <option {% if trackableInfo.9 == 8 %}selected{% endif %}>8</option>
        <option {% if trackableInfo.9 == 9 %}selected{% endif %}>9</option>
        </select><br>

        <!-- Weather -->
        <label for="weather">Weather_name:</label>
        <input type="text" id="weather" name="weather" value = "{{ trackableInfo.0 }}" ><br>

        <label for="weather">Weather_value:</label>
        <input type="text" id="weather" name="weather_val" value = "{{ trackableInfo.1 }}"><br>

        <!-- Symptom -->
        <label for="symptom">Symptom:</label>
        <input type="text" id="symptom" name="symptom" value = "{{ trackableInfo.2 }}"><br>

        <label class="form-label">Symptom_value</label>
        <select class="selectpicker show-tick form-control" data-live-search="true" name="symptom_val" value = "{{ trackableInfo.3 }}">
        <option {% if trackableInfo.3 == 0 %}selected{% endif %}>0</option>
        <option {% if trackableInfo.3 == 1 %}selected{% endif %}>1</option>
        <option {% if trackableInfo.3 == 2 %}selected{% endif %}>2</option>
        <option {% if trackableInfo.3 == 3 %}selected{% endif %}>3</option>
        <option {% if trackableInfo.3 == 4 %}selected{% endif %}>4</option>
        <option {% if trackableInfo.3 == 5 %}selected{% endif %}>5</option>
        <option {% if trackableInfo.3 == 6 %}selected{% endif %}>6</option>
        <option {% if trackableInfo.3 == 7 %}selected{% endif %}>7</option>
        <option {% if trackableInfo.3 == 8 %}selected{% endif %}>8</option>
        <option {% if trackableInfo.3 == 9 %}selected{% endif %}>9</option>
        </select><br>
        

        <!-- Treatment -->
        <label for="treatment">Treatment:</label>
        <input type="text" id="treatment" name="treatment" value = "{{ trackableInfo.4 }}"><br>

        <label for="treatment">Treatment_value:</label>
        <input type="text" id="treatment" name="treatment_val" value = "{{ trackableInfo.5 }}"><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
