<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Update Trackable</title>
</head>
<body>
    <h1>Update Trackable</h1>

    <form action="" method="POST">
        {% csrf_token %}

        <!-- Check-in Date -->
        <label for="checkinDate">Check-in Date:</label>
        <input type="date" id="checkinDate" name="checkinDate" required><br>

        <!-- Tag -->
        <label for="tag">Tag:</label>
        <input type="text" id="tag" name="tag"><br>

        <!-- Condition -->
        <label for="condition">Condition_name:</label>
        <input type="text" id="condition" name="condition"><br>

        <label class="form-label">Condition_value</label>
        <select class="selectpicker show-tick form-control" data-live-search="true" name="condition_value">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        </select><br>

        <!-- Weather -->
        <label for="weather">Weather_name:</label>
        <input type="text" id="weather" name="weather" value = {{wea_name}}><br>

        <label for="weather">Weather_value:</label>
        <input type="text" id="weather" name="weather_val"><br>

        <!-- Symptom -->
        <label for="symptom">Symptom:</label>
        <input type="text" id="symptom" name="symptom"><br>

        <label class="form-label">Symptom_value</label>
        <select class="selectpicker show-tick form-control" data-live-search="true" name="symptom_val">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        </select><br>
        

        <!-- Treatment -->
        <label for="treatment">Treatment:</label>
        <input type="text" id="treatment" name="treatment"><br>

        <label for="treatment">Treatment_value:</label>
        <input type="text" id="treatment" name="treatment_val"><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
